<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <h2>Colors</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].color %> :  <%= results[0][i].count %></li>
    <% } %>    
    </ul>
    <h2>Other Colors</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].othercolors %> :  <%= results[1][i].count %></li>
    <% } %>    
    </ul>
    <h2>Dark Mode</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].dark %> :  <%= results[2][i].count %></li>
    <% } %>    
    </ul>
    <h2>Layout</h2>
    <ul>
    <% for (var i=0; i<results[3].length; i++){ %>
        <li><%= results[3][i].layout %> :  <%= results[3][i].count %></li>
    <% } %>    
    </ul>
    <h2>Trending or For You Page</h2>
    <ul>
    <% for (var i=0; i<results[4].length; i++){ %>
        <li><%= results[4][i].trending %> :  <%= results[4][i].count %></li>
    <% } %>    
    </ul>
    <h2>First Word about UI</h2>
    <ul>
    <% for (var i=0; i<results[5].length; i++){ %>
        <li><%= results[5][i].firstword %> :  <%= results[5][i].count %></li>
    <% } %>    
    </ul>
    <h2>Usability</h2>
    <ul>
    <% for (var i=0; i<results[6].length; i++){ %>
        <li><%= results[6][i].usability%> :  <%= results[6][i].count %></li>
    <% } %>    
    </ul>
    <h2>Settings</h2>
    <ul>
    <% for (var i=0; i<results[7].length; i++){ %>
        <li><%= results[7][i].settings%> :  <%= results[7][i].count %></li>
    <% } %>    
    </ul>
</body>
</html>